* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

body {
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

a {
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

button, input, select, textarea {
  outline: none;
}

// For prevent whitespace under these elements
img, svg {
  vertical-align: top;
}
